<form [formGroup]="formAtualizar">  
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Cadastrar Funcionário</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row align-items-center g-2">
              <div class="col-md-4 col-12">
                  <label for="">Nome</label>
                  <input formControlName="nome" type="text" class="form-control form-control-sm" placeholder="João">
              </div>
              <div class="col-md-4 col-12">
                  <label for="">Sobre Nome</label>
                  <input  formControlName="sobreNome"type="text" class="form-control form-control-sm" placeholder="Silva">  
              </div>
              <div class="col-md-4 col-12">
                  <label for="">Função</label>
                  <select formControlName="funcao" id="" class="form-select form-select-sm" required>
                      <option value=""></option>
                      <option value="Desenvolvedor Front-End">Desenvolvedor Front-End</option>
                      <option value="Desenvolvedor Back-End">Desenvolvedor Back-End</option>
                      <option value="Design">Design</option>
                      <option value="FullStack">FullStack</option>
                  </select>
              </div>
              <div class="col-md-4 col-12">
                  <label for="">Gerente</label>
                  <select formControlName="gerente" id="" class="form-select form-select-sm" required>
                      <option value=""></option>
                      <option value="Jhonatan">Jhonatan</option>
                      <option value="Samira">Samira</option>
                      <option value="Gabrielle">Gabrielle</option>
                  </select>
              </div>
              <div class="col-md-4 col-12">
                  <label for="">Tipo Contrato</label>
                  <select formControlName="tipoContrato" id="" class="form-select form-select-sm" required>
                      <option value=""></option>
                      <option value="Efetivo">Efetivo</option>
                      <option value="Estágio">Estágio</option>
                      <option value="Freelancer">Freelancer</option>
                  </select>
              </div>
             
              <div class="col-md-4 col-12">
                  <label for="">Email</label>
                  <input  formControlName="email" type="email" class="form-control form-control-sm" placeholder="email@email.com.br">
              </div>
              <div class="col-md-4 col-12">
                  <label for="">Telefone</label>
                  <input formControlName="telefone" type="text" class="form-control form-control-sm" placeholder="(19) 99999-9999">
              </div>
              <div class="col-md-4 col-12">
                  <label for="">Salário</label>
                  <input  formControlName="salario" type="text" class="form-control form-control-sm" placeholder="R$ 4.000,00">
              </div>
            </div>
           
  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary me-1" data-bs-dismiss="modal" (click)="voltarListar()">Fechar</button>
            <button type="button" class="btn btn-primary" (click)="alterarFuncionario()">Atualizar</button>
          </div>
        </div>
      </div>
   
  </form>
    